body {
    background-color: #99bbd8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(18, 18, 217);
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.card h2 {
    margin-top: 0;
    color: rgb(58, 58, 188);
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 5px;
}
